.grid{
    display: grid;
    flex-wrap: nowrap;
    background-color: white;
    border: 5px black solid;
    grid-template-columns: 200px minmax(100px, 1fr);
    grid-template-rows: repeat(5,200px);
    grid-gap: 1px;
}

.grid-1{
    border: 3px blue solid;
}
.grid-2{
    border: 3px blue solid;
    align-content: center;
    text-align: center;
}
.grid-3{
    border: 3px blue solid;
}
.grid-4{
    border: 3px blue solid;
    align-content: center;
    text-align: center;
}
.grid-5{
    border: 3px blue solid;
}
.grid-6{
    border: 3px blue solid;
    align-content: center;
    text-align: center;
}
.grid-7{
    border: 3px blue solid;
}
.grid-8{
    border: 3px blue solid;
    align-content: center;
    text-align: center;
}
.grid-9{
    border: 3px blue solid;
}
.grid-10{
    border: 3px blue solid;
    align-content: center;
    text-align: center;
}